.admin-layout {
  width: 100vw;
  display: flex;
  .admin-body {
    margin-left: 250px;
    width: calc(100% - 250px);

    .routes {
      padding-top: 40px;
      padding-left: 30px;
      flex-grow: 1;
    }
  }
}
