<main class="units-page">
  <article>
    <header class="units-page-header">
      <div class="units-top-header">
        <h1>Unidades</h1>
      </div>
      <button class="p-button add-button" (click)="showDialog()">
        <i class="pi pi-plus-circle" style="font-size: 1.2rem"></i>
        {{ " Crear" }}
      </button>
    </header>
    <div class="table-container">
      <p-table
        styleClass="p-datatable-gridlines"
        [value]="[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
        *ngIf="loadingItems"
        scrollable="false"
      >
        <ng-template pTemplate="header">
          <tr>
            <th class="column-nombre">Nombre</th>
            <th class="column-correo">Correo</th>
            <th class="column-categorias">Categorías recomendadas</th>
            <th class="column-buttons"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-unit>
          <tr>
            <td>
              <p-skeleton height="25px" />
            </td>
            <td>
              <p-skeleton height="25px" />
            </td>
            <td>
              <p-skeleton height="25px" />
            </td>
            <td>
              <p-skeleton height="25px" />
            </td>
          </tr>
        </ng-template>
      </p-table>

      <p-table
        styleClass="p-datatable-gridlines"
        [value]="unitsData"
        scrollable="false"
        *ngIf="!loadingItems"
      >
        <ng-template pTemplate="header">
          <tr>
            <th class="column-nombre">Nombre</th>
            <th class="column-correo">Correo</th>
            <th class="column-categorias">Categorías recomendadas</th>
            <th class="column-buttons"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-unit>
          <tr>
            <td>{{ unit.name }}</td>
            <td>{{ unit.email }}</td>
            <td class="categories-column">
              <div class="tag-container">
                <p-tag severity="info" class="mr">{{
                  unit.recommendedCategories[0].categoryName
                }}</p-tag>
              </div>
              <span *ngIf="unit.recommendedCategories.length > 1"
                >+{{ unit.recommendedCategories.length - 1 }}</span
              >
            </td>
            <td>
              <button class="p-button edit-button" (click)="view(unit)">
                <i class="pi pi-eye" style="color: #1a5fbf"></i>
              </button>
              <button
                class="p-button edit-button"
                (click)="showDialogEdit(unit)"
              >
                <i class="pi pi-pencil" style="color: #3ba13f"></i>
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>

      <p-paginator
        [first]="first"
        [rows]="paginationRows"
        [totalRecords]="totalRecords"
        (onPageChange)="onPageChange($event)"
      />
    </div>
    <app-dialog-create
      [visible]="visible"
      (hide)="hideDialog()"
      (create)="create($event)"
      [indicators]="indicators"
    ></app-dialog-create>
    <app-dialog-edit
      [unit]="editingUnit"
      [visible]="visibleEdit"
      (hide)="hideDialogEdit()"
      (update)="update($event)"
      (delete)="delete($event)"
      [indicators]="indicators"
    ></app-dialog-edit>
    <p-dialog
      header="Detalles de la unidad"
      [(visible)]="visibleView"
      [modal]="true"
      [style]="{ width: '40vw' }"
      [baseZIndex]="10000"
    >
      <div *ngIf="viewingUnit">
        <p><strong>Nombre:</strong> {{ viewingUnit.name }}</p>
        <p><strong>Correo:</strong> {{ viewingUnit.email }}</p>
        <p><strong>Categorías recomendadas:</strong></p>
        <p-tag
          *ngFor="let categoria of viewingUnit.recommendedCategories"
          severity="info"
          class="mr"
          >{{ categoria.categoryName }}</p-tag
        >
      </div>
    </p-dialog>
  </article>
</main>
