<p-dialog
  header="Header"
  [modal]="true"
  [(visible)]="visible"
  [closable]="false"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  styleClass="criteria-dialog"
>
  <ng-template pTemplate="header">
    <header>
      <h3>Criterio</h3>
      <p>
        Medida específica utilizada para evaluar y cuantificar el desempeño de
        la universidad dentro de un Indicador determinado. Por ejemplo, “1.1
        Tipo de Institución de Educación Superior”.
      </p>
    </header>
  </ng-template>
  <h4>Información</h4>
  <form [formGroup]="criterionForm" class="create-form">
    <div class="input-container">
      <label for="create-dialog-subindex">Subíndice</label>
      <p-inputNumber
        styleClass="criteria-number-input"
        inputId="create-dialog-subindex"
        formControlName="subindex"
        [style]="{ width: '100%' }"
        placeholder="Ejemplo: 1"
        [autofocus]="false"
      />
    </div>
    <div class="input-container">
      <label>Nombre en inglés</label>
      <input
        type="text"
        pInputText
        formControlName="englishName"
        placeholder="Criterion 1"
      />
    </div>
    <div class="input-container">
      <label>Alias en español</label>
      <input
        type="text"
        pInputText
        formControlName="spanishAlias"
        placeholder="Criterio 1"
      />
    </div>
    <div class="buttons-container">
      <button pButton (click)="hide()" [outlined]="true" class="cancel">
        Cancelar
      </button>
      <button
        pButton
        (click)="submitForm()"
        [disabled]="!criterionForm.valid"
        [loading]="loading"
        class="save"
      >
        Guardar
      </button>
    </div>
  </form>
</p-dialog>
