<main class="activities-page">
    <article>
        <header class="activities-page-header">
            <div class="activities-left-header">
                <h1>{{units.name}} - Actividades</h1>
                <p>Actividad realizada, reportada dentro de una categoría.</p>
            </div>
        </header>
        <section class="activities-content-container">
                <div class="activities-container" >
                    <p-card *ngFor="let activity of activities" header="{{ activity.name }}" [style]="{ width: '360px'}">
                        <ng-template pTemplate="header">
                            <img alt="Card" src="../../../assets/activities/activity-image.png" alt="Actividad" />
                        </ng-template>
                        <p class="category-tag">
                            Categoría: {{activity.categoryName}}
                        </p>
                        <p class="summary">
                            {{ activity.summary }}
                          </p>
                        <p-footer>
                            <p class="see-activity" (click)="navigateToTheActivity(activity.id)">Ver detalle</p>
                        </p-footer>

                    </p-card>
                </div>
          </section>  
    </article>
</main> 