<main class="criteria-page">
  <article>
    <header class="criteria-page-header">
      <div class="criteria-left-header">
        <h1>Criterios</h1>
        <p-dropdown
          [options]="indicators"
          [(ngModel)]="selectedIndicator"
          optionLabel="englishName"
          placeholder="Indicador"
          (onChange)="onIndicatorChange($event)"
          [style]="{ minWidth: '400px', outline: 'none', boxShadow: 'none' }"
          styleClass="criteria-dropdown"
          [loading]="loadingIndicators"
        ></p-dropdown>
      </div>
      <div class="criteria-right-header">
        <button
          class="p-button add-button"
          [disabled]="!indicatorIndex"
          (click)="showCreate()"
          [class.button-disabled]="!indicatorIndex"
          [pTooltip]="
            indicatorIndex ? undefined : 'Debe seleccionar un indicador primero'
          "
        >
          <i class="pi pi-plus-circle" style="font-size: 1.2rem"></i>
          {{ " Crear" }}
        </button>
      </div>
    </header>

    <section class="criteria-table-container">
      @if (!indicatorIndex) {
      <h3>Seleccione un indicador para ver sus criterios</h3>
      } @else {
        @if (loadingItems){
          <p-table
          styleClass="p-datatable-gridlines"
          [tableStyle]="{ 'max-width': '90rem' }"
          scrollable="false"
          [value]="[1,2,3,4,5,6,7,8,9,10]"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Indicador</th>
              <th>Subíndice</th>
              <th>Nombre en inglés</th>
              <th>Alias en español</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-unit>
            <tr>
              <td>
                <p-skeleton height="25px"/>
              </td>
              <td>
                <p-skeleton  height="25px"/>
              </td>
              <td>
                <p-skeleton height="25px"/>
              </td>
              <td>
                <p-skeleton height="25px"/>
              </td>
              <td>
                <p-skeleton height="25px"/>
              </td>
            </tr>
          </ng-template>
        </p-table>
        } @else {
          <p-table [value]="criteria">
            <ng-template pTemplate="header">
              <tr>
                <th>Indicador</th>
                <th>Subíndice</th>
                <th>Nombre en inglés</th>
                <th>Alias en español</th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-criterion>
              <tr>
                <td>{{ criterion.indicatorIndex }}</td>
                <td>{{ criterion.subindex }}</td>
                <td>{{ criterion.englishName }}</td>
                <td>
                  {{ criterion.spanishAlias }}
                </td>
                <td>
                  <button
                    class="p-button edit-button"
                    (click)="showEdit(criterion)"
                  >
                    <i class="pi pi-pencil" style="color: #3ba13f"></i>
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        }
      <p-paginator
        [first]="first"
        [rows]="paginationRows"
        [totalRecords]="totalRecords"
        (onPageChange)="onPageChange($event)"
      />
      }
    </section>
    <app-dialog-create
      [visible]="visibleCreate"
      (hideDialog)="hideCreate()"
      (addCriterion)="addNewCriterion($event)"
    ></app-dialog-create>
    <app-dialog-edit
      [visible]="visibleEdit"
      (hideDialog)="hideEdit()"
      [criterion]="criterionToEdit"
      (editCriterion)="editCriterion($event)"
      (deleteCriterion)="deleteCriterion($event)"
    ></app-dialog-edit>
  </article>
</main>
