<main class="criteria-page">
  <article>
    <header class="criteria-page-header">
      <div class="criteria-left-header">
        <h1>Criterios</h1>
        <p-dropdown
          [options]="indicators"
          [(ngModel)]="selectedIndicator"
          optionLabel="englishName"
          placeholder="Indicador"
          (onChange)="onIndicatorChange($event)"
          [style]="{ minWidth: '400px' }"
        ></p-dropdown>
      </div>
      <div class="criteria-right-header">
        <button
          class="p-button add-button"
          [disabled]="!indicatorIndex"
          (click)="showCreate()"
        >
          <i class="pi pi-plus-circle" style="font-size: 1.2rem"></i>
          {{ " Crear" }}
        </button>
      </div>
    </header>

    <section class="criteria-table-container">
      @if (!indicatorIndex) {
      <h3>Seleccione un indicador para ver sus criterios</h3>
      } @else {
      <p-table [value]="criteria">
        <ng-template pTemplate="header">
          <tr>
            <th>Indicador</th>
            <th>Subíndice</th>
            <th>Nombre en inglés</th>
            <th>Alias en español</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-criterion>
          <tr>
            <td>{{ criterion.indicatorIndex }}</td>
            <td>{{ criterion.subindex }}</td>
            <td>{{ criterion.englishName }}</td>
            <td>
              {{ criterion.spanishAlias }}
            </td>
            <td>
              <p-button
                icon="pi pi-pencil"
                [outlined]="true"
                severity="success"
                (click)="showEdit(criterion)"
              />
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator
        [first]="first"
        [rows]="paginationRows"
        [totalRecords]="totalRecords"
        (onPageChange)="onPageChange($event)"
      />
      }
    </section>
    <app-dialog-create
      [visible]="visibleCreate"
      (hideDialog)="hideCreate()"
      (addCriterion)="addNewCriterion($event)"
    ></app-dialog-create>
    <app-dialog-edit
      [visible]="visibleEdit"
      (hideDialog)="hideEdit()"
      [criterion]="criterionToEdit"
      (editCriterion)="editCriterion($event)"
      (deleteCriterion)="deleteCriterion($event)"
    ></app-dialog-edit>
  </article>
</main>
