<p-dialog
  [modal]="true"
  [(visible)]="visible"
  [closable]="false"
  [draggable]="false"
  styleClass="indicators-dialog"
>
  <form [formGroup]="indicadorForm" class="modal">
    <div class="modal-content">
      <header>
        <h3>Indicador</h3>
        <p>
          Área utilizada para evaluar y medir la sostenibilidad ambiental de la
          universidad. Algunos indicadores pueden ser Energía y cambio
          climático, Entorno e infraestructura y Transporte.
        </p>
      </header>
      <h4>Información</h4>
      <div class="input-info">
        <label>Índice</label>
        <p-inputNumber
          styleClass="indicator-number-input"
          formControlName="index"
          [style]="{ width: '100%' }"
          placeholder="Ejemplo: 1"
          [autofocus]="false"
        />
      </div>
      <div class="input-info">
        <label>Nombre en inglés</label>
        <input
          type="text"
          pInputText
          formControlName="englishName"
          placeholder="Nombre en inglés"
        />
      </div>
      <div class="input-info">
        <label>Alias en español</label>
        <input
          type="text"
          pInputText
          formControlName="spanishAlias"
          placeholder="Nombre en inglés"
        />
      </div>
    </div>
    <div class="modal-content criteria-list-content">
      <div
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        "
      >
        <h4>Criterios asociados</h4>
        <button class="p-button add-button" (click)="editCriteria()">
          <i class="pi pi-pencil" style="font-size: 1rem"></i>
          {{ " Editar criterios" }}
        </button>
      </div>
      <div class="criterion-list" *ngIf="!allCriteriaEmpty()">
        <div *ngFor="let category of indicador?.categories; let i = index">
          <div *ngFor="let criterion of category?.criteria; let j = index">
            <p>
              {{ indicador.index }}.{{ criterion.subindex }}
              {{ criterion.spanishAlias }}
            </p>
          </div>
        </div>
      </div>
      <div *ngIf="allCriteriaEmpty()" class="empty-criteria">
        <p>No hay criterios asociados</p>
      </div>
      <div class="buttons-container">
        <p-toast />
        <p-confirmPopup styleClass="confirm-delete-popup" />
        <button
          pButton
          class="delete-button"
          [text]="true"
          (click)="confirm($event)"
        >
          Más opciones
        </button>
        <button
          pButton
          (click)="hideDialogEdit()"
          [outlined]="true"
          class="cancel"
        >
          Cancelar
        </button>
        <button
          pButton
          (click)="submitForm()"
          [disabled]="!indicadorForm.valid"
          [loading]="loading"
          class="save"
        >
          Guardar
        </button>
      </div>
    </div>
  </form>

  <p-dialog
    header="Confirmar eliminación"
    [(visible)]="showConfirmDialog"
    [modal]="true"
    [baseZIndex]="10000"
    [style]="{ color: '#000' }"
  >
    <p>¿Estás seguro de que quieres eliminar este criterio?</p>
    <p-footer>
      <p-button
        icon="pi pi-check"
        label="Eliminar"
        severity="danger"
        [outlined]="true"
        (click)="confirmDelete()"
        [loading]="deleteLoading"
        [style]="{ outline: 'none', boxShadow: 'none' }"
      />
      <p-button icon="pi pi-times" label="Cancelar" (click)="cancelDelete()" />
    </p-footer>
  </p-dialog>
</p-dialog>
