<main class="category-page">
    <article>
        <header class="category-page-header">
            <div class="criteria-left-header">
                <h1>Mis actividades</h1>
                <p>Actividades realizadas, reportadas dentro de una categoría. </p>
            </div>
            <div class="criteria-right-header">
                <button
                  class="p-button add-button">
                  <i class="pi pi-plus-circle" style="font-size: 1.2rem"></i>
                  {{ " Crear" }}
                </button>
              </div>
        </header>
    </article>
    <section class="activities-content-container">
        <div class="activities-container" >
            <p-card *ngFor="let activity of activities" header="{{ activity.name }}" [style]="{ width: '360px'}">
                <ng-template pTemplate="header">
                    <img alt="Card" src="../../../assets/activities/activity-image.png" alt="Actividad" />
                </ng-template>
                <p class="category-tag">
                    Categoría: {{activity.categoryName}}
                </p>
                <p class="summary">
                    {{ activity.summary }}
                  </p>
                <p-footer>
                    <p class="see-activity" (click)="navigateToTheActivity(activity.id)">Ver detalle</p>
                </p-footer>
            </p-card>
        </div>
  </section>
    </main>
