<p-dialog
  header="Header"
  [modal]="true"
  [(visible)]="visible"
  [closable]="false"
  [style]="{ width: '50vw', height: '580px'}"
  [draggable]="false"
>
  <ng-template pTemplate="header">
    <header>
      <h3>Criterio</h3>
      <p>
        Medida específica utilizada para evaluar y cuantificar el desempeño de
        la universidad dentro de un Indicador determinado. Por ejemplo, “1.1
        Tipo de Institución de Educación Superior”.
      </p>
    </header>
  </ng-template>
  <h4>Información</h4>
  <form [formGroup]="criterionForm" class="edit-form">
    <div class="input-container">
      <label for="integeronly">Subíndice</label>
      <p-inputNumber
        inputId="integeronly"
        formControlName="subindex"
        [style]="{ width: '100%' }"
        placeholder="Ejemplo: 1"
      />
    </div>
    <div class="input-container">
      <label>Nombre en inglés</label>
      <input
        type="text"
        pInputText
        formControlName="englishName"
        placeholder="Criterion 1"
      />
    </div>
    <div class="input-container">
      <label>Alias en español</label>
      <input
        type="text"
        pInputText
        formControlName="spanishAlias"
        placeholder="Criterio 1"
      />
    </div>
    <div class="buttons-container">
      <p-toast />
      <p-confirmPopup />
      <button
        pButton
        class="delete-button"
        [text]="true"
        (click)="confirm($event)"
      >
        Más opciones
      </button>
      <button pButton (click)="hide()" [outlined]="true" class="cancel">
        Cancelar
      </button>
      <button
        pButton
        (click)="updateCriterion()"
        [disabled]="!criterionForm.valid"
        [loading]="loading"
        class="save"
      >
        Guardar
      </button>
    </div>
  </form>
  <p-dialog
    header="Confirmar eliminación"
    [(visible)]="visibleDelete"
    [modal]="true"
    [baseZIndex]="10000"
    [style]="{ color: '#000'}"
  >
    <p>¿Estás seguro de que quieres eliminar este criterio?</p>
    <p-footer>
      <p-button
        icon="pi pi-check"
        label="Eliminar"
        severity="danger"
        [outlined]="true"
        (click)="confirmDelete()"
        [loading]="deleteLoading"
        [style]="{outline: 'none', boxShadow: 'none'}"
      />
      <p-button icon="pi pi-times" label="Cancelar" (click)="hideDelete()" />
    </p-footer>
  </p-dialog>
</p-dialog>
