<main class="activity-page">
  <article>
    <header class="activity-page-header">
      <div class="activity-left-header">
        <h1>Actividad</h1>
        <p>
          Actividad realizada, reportada dentro de una categoría. Adjunte
          imágenes, enlaces y documentos que sirvan como evidencia de la
          actividad.
        </p>
      </div>
    </header>
    <section class="activity-content-container">
      <div class="activity-container">
        <h3>Información</h3>
        <p>
          @if (loadingItems){
            <p-skeleton width="100%" height="30px"></p-skeleton>
          } @else {
            <span class="titles">Nombre: </span
              >{{ activity.name }}
          }
        </p>
        <p>
          @if (loadingItems){
            <p-skeleton width="100%" height="30px"></p-skeleton>
          } @else {
          <span class="titles">Categoría: </span>
          <span
            class="
              category-tag
            "
            >{{ activity.categoryName }}</span
          >}
        </p>
        <p>
          @if (loadingItems){
            <p-skeleton width="100%" height="30px"></p-skeleton>
          } @else {
          <span class="titles">Resumen: </span
          >{{ activity.summary }}}
        </p>
        <p>
          @if (loadingItems){
            <p-skeleton width="100%" height="30px"></p-skeleton>
          } @else {
          <span class="titles"
            >Fecha y hora de carga: </span
          >{{ activity.uploadTimestamp | date : "dd-MM-yyyy HH:mm" }}}
        </p>
      </div>
      <div class="activity-container1">
        <h3>Evidencias</h3>
        <div class="activity-container2">
          <div *ngIf="loadingItems">
            <p-skeleton width="100%" height="400px"></p-skeleton>
          </div>
          <div *ngIf="!loadingItems">
            <div *ngIf="evidenceItems.length === 0">
              <p style="text-align: center;">No hay evidencias cargadas</p>
            </div>
            <div *ngIf="evidenceItems.length > 0">
              <div *ngFor="let evidence of evidenceItems">
                <app-image-evidence *ngIf="evidence.type === 'image'" [evidence]="evidence"></app-image-evidence>
                <app-link-evidence *ngIf="evidence.type === 'link'" [evidence]="evidence"></app-link-evidence>
                <app-document-evidence *ngIf="evidence.type === 'document'" [evidence]="evidence"></app-document-evidence>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>
