<main class="activity-page">
  <article>
    <header class="activity-page-header">
      <div class="activity-left-header">
        <h1>Actividad</h1>
        <p>
          Actividad realizada, reportada dentro de una categoría. Adjunte
          imágenes, enlaces y documentos que sirvan como evidencia de la
          actividad.
        </p>
      </div>
    </header>
    <section class="activity-content-container">
      <div class="activity-container">
        <h3>Información</h3>
        <p>
          <span style="font-weight: 500; font-size: 18px">Nombre: </span
          >{{ activity.name }}
        </p>
        <p>
          <span style="font-weight: 500; font-size: 18px">Categoría: </span>
          <span
            style="
              background-color: #ccffdc;
              border-radius: 8px;
              width: fit-content;
              padding: 8px;
              color: #22c55e;
            "
            >{{ activity.categoryName }}</span
          >
        </p>
        <p>
          <span style="font-weight: 500; font-size: 18px">Resumen: </span
          >{{ activity.summary }}
        </p>
        <p>
          <span style="font-weight: 500; font-size: 18px"
            >Fecha y hora de carga: </span
          >{{ activity.uploadTimestamp | date : "dd-MM-yyyy HH:mm" }}
        </p>
      </div>
      <div class="activity-container2">
        <h3>Evidencias</h3>
        <app-image-evidence></app-image-evidence>
        <app-link-evidence></app-link-evidence>
        <app-document-evidence></app-document-evidence>
      </div>
    </section>
  </article>
</main>
