<main class="activity-page">
  <article>
    <header class="activity-page-header">
      <div class="activity-left-header">
        <h1>Actividad</h1>
        <p>
          Actividad realizada, reportada dentro de una categoría. Adjunte
          imágenes, enlaces y documentos que sirvan como evidencia de la
          actividad.
        </p>
      </div>
    </header>
    <section class="activity-content-container">
      <div class="activity-container">
        <h3>Información</h3>
        <p>
          @if (loadingItems){
            <p-skeleton width="100%" height="30px"></p-skeleton>
          } @else {
            <span class="titles">Nombre: </span
              >{{ activity.name }}
          }
        </p>
        <p>
          @if (loadingItems){
            <p-skeleton width="100%" height="30px"></p-skeleton>
          } @else {
          <span class="titles">Categoría: </span>
          <span
            class="
              category-tag
            "
            >{{ activity.categoryName }}</span
          >}
        </p>
        <p>
          @if (loadingItems){
            <p-skeleton width="100%" height="30px"></p-skeleton>
          } @else {
          <span class="titles">Resumen: </span
          >{{ activity.summary }}}
        </p>
        <p>
          @if (loadingItems){
            <p-skeleton width="100%" height="30px"></p-skeleton>
          } @else {
          <span class="titles"
            >Fecha y hora de carga: </span
          >{{ activity.uploadTimestamp | date : "dd-MM-yyyy HH:mm" }}}
        </p>
      </div>
      <div class="activity-container2">
        <h3>Evidencias</h3>
        <app-image-evidence></app-image-evidence>
        <app-link-evidence></app-link-evidence>
        <app-document-evidence></app-document-evidence>
      </div>
    </section>
  </article>
</main>
