<div class="evidence-card">
  <div>
    <i class="pi pi-link tag"> <span class="tag-text">Enlace</span></i>
    <div class="container">
      <p class="title">Enlace</p>
      <p-inputGroup>
        <input pInputText #inputValue value="www.google.com" [style]="{ width: '100%' }" disabled />
        <p-inputGroupAddon>
          <i class="pi pi-copy" (click)="copyValue(inputValue)"></i>
        </p-inputGroupAddon>
      </p-inputGroup>
      <p style="margin-top: 20px">
        <span style="font-weight: 500; font-size: 18px">Descripción: </span
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid aut
        aperiam odit illum. Molestiae consequatur quas illum voluptat
      </p>
    </div>
    <p-divider />
    <div class="feedback-tags">
      <i class="pi pi-thumbs-up" style="font-size: 30px; color: #3ba13f"></i>
      <img
        src="../../../../../assets/feedback-icons/link.svg"
        style="width: 32px; height: 32px"
      />
      <i class="pi pi-phone" style="font-size: 30px; color: #3b82f6"></i>
    </div>
  </div>
</div>
