<div class="evidence-card">
  <div>
    <i class="pi pi-link tag"> <span class="tag-text">Enlace</span></i>
    <div class="container">
      <p class="title">Enlace</p>
      <p-inputGroup>
        <input pInputText #inputValue value="{{evidence.link}}" [style]="{ width: '100%' }" disabled />
        <p-inputGroupAddon>
          <i class="pi pi-copy" (click)="copyValue(inputValue)"></i>
        </p-inputGroupAddon>
      </p-inputGroup>
      <p style="margin-top: 20px">
        <span style="font-weight: 500; font-size: 18px">Descripción: </span
        >{{ evidence.description }}
      </p>
    </div>
    <p-divider />
    <div class="feedback-tags">
      <i class="pi pi-thumbs-up" [class.selected]="selectedFeedback === 'approved'" (click)="selectFeedback('approved')" style="font-size: 30px; color: #3ba13f; cursor: pointer; padding: 8px;"></i>
      <img src="../../../../../assets/feedback-icons/link.svg" [class.selected]="selectedFeedback === 'broken_link'" (click)="selectFeedback('broken_link')" style="width: 48px; height: 48px; cursor: pointer;  padding: 5px;" />
      <i class="pi pi-phone" [class.selected]="selectedFeedback === 'contact_admin'" (click)="selectFeedback('contact_admin')" style="font-size: 30px; color: #3b82f6; cursor: pointer; padding: 8px;"></i>
    </div>
  </div>
</div>
