<p-dialog
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '40vw' }"
  [closable]="false"
  [draggable]="false"
  styleClass="inidcator-dialog"
>
  <form [formGroup]="indicatorForm" class="modal">
    <div class="modal-content">
        <header>
            <h3>Indicador</h3>
            <p>
                Área utilizada para evaluar y medir la sostenibilidad ambiental de la universidad. Algunos indicadores pueden ser Energía y cambio climático, Entorno e infraestructura y Transporte.
            </p>
        </header>
        <h4>Información</h4>
        <div class="input-info">
            <label>Índice</label>
            <p-inputNumber
        styleClass="indicator-number-input"
        formControlName="index"
        [style]="{ width: '100%' }"
        placeholder="Ejemplo: 1"
        [autofocus]="false"
      />
        </div>
        <div class="input-info">
            <label>Nombre en inglés</label>
            <input
              type="text"
              pInputText
              formControlName="englishName"
              placeholder="Nombre en inglés"
            />
        </div>
        <div class="input-info">
            <label>Alias en español</label>
            <input
              type="text"
              pInputText
              formControlName="spanishAlias"
              placeholder="Nombre en inglés"
            />
        </div>
    </div>
</form>
<div class="buttons-container">
    <button pButton (click)="hideDialog()" [outlined]="true" class="cancel">
      Cancelar
    </button>
    <button
      pButton
      (click)="submitForm()"
      [disabled]="!indicatorForm.valid"
      [loading]="loading"
      class="save"
    >
      Guardar
    </button>
  </div>
</p-dialog>


    <!-- <div class="card flex justify-content-center mt-5 input-container">
      <p-floatLabel>
        <input
          pInputText
          id="index"
          class="indicador-input"
          formControlName="index"
        />
        <label for="name">Índice</label>
      </p-floatLabel>
    </div>
    <div class="card flex justify-content-center mt-5 input-container">
      <p-floatLabel>
        <input
          pInputText
          id="englishName"
          class="indicador-input"
          formControlName="englishName"
        />
        <label for="name">Nombre en inglés</label>
      </p-floatLabel>
    </div>
    <div class="card flex justify-content-center mt-5 input-container">
      <p-floatLabel>
        <input
          pInputText
          id="spanishAlias"
          class="indicador-input"
          formControlName="spanishAlias"
        />
        <label for="SpanishAlias">Alias en español</label>
      </p-floatLabel>
    </div>
    <div class="flex justify-content-end gap-2 buttons-container">
      <p-button
        label="Cancel"
        severity="secondary"
        (click)="hideDialog()"
        class="button1"
      />
      <p-button
        label="Guardar"
        (click)="submitForm()"
        [disabled]="!indicatorForm.valid"
      />
    </div>
  </form> -->
