<p-dialog
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '40vw' }"
  [closable]="false"
  [draggable]="false"
  styleClass="inidcator-dialog"
>
  <form [formGroup]="indicatorForm" class="modal">
    <div class="modal-content">
        <header>
            <h3>Indicador</h3>
            <p>
                Área utilizada para evaluar y medir la sostenibilidad ambiental de la universidad. Algunos indicadores pueden ser Energía y cambio climático, Entorno e infraestructura y Transporte.
            </p>
        </header>
        <h4>Información</h4>
        <div class="input-info">
            <label>Índice</label>
            <p-inputNumber
        styleClass="indicator-number-input"
        formControlName="index"
        [style]="{ width: '100%' }"
        placeholder="Ejemplo: 1"
        [autofocus]="false"
      />
        </div>
        <div class="input-info">
            <label>Nombre en inglés</label>
            <input
              type="text"
              pInputText
              formControlName="englishName"
              placeholder="Nombre en inglés"
            />
        </div>
        <div class="input-info">
            <label>Alias en español</label>
            <input
              type="text"
              pInputText
              formControlName="spanishAlias"
              placeholder="Alias en español"
            />
        </div>
    </div>
</form>
<div class="buttons-container">
    <button pButton (click)="hideDialog()" [outlined]="true" class="cancel">
      Cancelar
    </button>
    <button
      pButton
      (click)="submitForm()"
      [disabled]="!indicatorForm.valid"
      [loading]="loading"
      class="save"
    >
      Guardar
    </button>
  </div>
</p-dialog>