<section class="admin-sidebar">
  <header>
    <p-image
      src="assets/sidebar/white-sprout.svg"
      alt="sprout"
      width="40"
    ></p-image>
    <h2>GreenTracker</h2>
  </header>
  <ul>
    <li>
      <a
        [routerLink]="adminHomePage"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
      >
        <i class="pi pi-home"></i>
        <h3>Panel Principal</h3>
      </a>
    </li>
  </ul>
  <div class="divider">
    <p-divider />
  </div>
  <ul>
    <li>
      <a
        [routerLink]="report"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
      >
        <i class="pi pi-file"></i>
        <h3>Generar Reporte</h3>
      </a>
    </li>
    <li>
      <a
        [routerLink]="statistics"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
      >
        <i class="pi pi-chart-pie"></i>
        <h3>Estadísticas</h3>
      </a>
    </li>
    <li>
      <a
        [routerLink]="chargePeriod"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
      >
        <i class="pi pi-calendar"></i>
        <h3>Periodo de carga</h3>
      </a>
    </li>
  </ul>
  <div class="divider">
    <p-divider />
  </div>
  <ul>
    <li>
      <a
        [routerLink]="units"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
      >
        <i class="pi pi-users"></i>
        <h3>Unidades</h3>
      </a>
    </li>
    <li>
      <a
        [routerLink]="indicators"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
      >
        <i class="pi pi-chart-bar"></i>
        <h3>Indicadores</h3>
      </a>
    </li>
    <li>
      <a
        [routerLink]="criteria"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
      >
        <i class="pi pi-check-square"></i>
        <h3>Criterios</h3>
      </a>
    </li>
    <li>
      <a
        [routerLink]="categories"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
      >
        <i class="pi pi-tags"></i>
        <h3>Categorías</h3>
      </a>
    </li>
  </ul>
</section>
