<main class="login-page">
  <article class="login-container">
    <h1>Login</h1>
    <form [formGroup]="userLoginForm" (ngSubmit)="submitForm()">
      <label>
        <h2>Email</h2>
      </label>
      <input type="text" formControlName="email" />
      <label class="password-label">
        <h2>Contraseña</h2>
      </label>
      <div class="password-input-container">
        <input
          [type]="visiblePassword ? 'text' : 'password'"
          formControlName="password"
        />
        @if(visiblePassword){
        <img
          (click)="togglePasswordVisibility()"
          src="/assets/login/eye.svg"
          alt="eye"
        />
        } @else {
        <img
          (click)="togglePasswordVisibility()"
          src="/assets/login/eye-close.svg"
          alt="eye closed"
        />
        }
      </div>
      <button type="submit" [disabled]="!userLoginForm.valid" >Iniciar sesión</button>
    </form>
  </article>
</main>
