.login-page {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #F3F3F3;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  .login-container {
    height: 100%;
    width: 100%;
    display: flex;

    .login-form {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 6%;

      h1 {
        font-size: 30px;
        font-weight: bold;
        margin: 0;
      }

      p {
        font-size: 15px;
        color: #484848;
        font-weight: bold;
      }
    }
  }
}
