<main class="login-page">
  <article class="login-container">
    <form [formGroup]="userLoginForm">
      <p-floatLabel>
        <input pInputText id="email" formControlName="email" />
        <label for="email">Email</label>
      </p-floatLabel>
      <p-floatLabel>
        <p-password
          formControlName="password"
          [feedback]="false"
          [toggleMask]="true"
        />
        <label for="password">Contraseña</label>
      </p-floatLabel>
      <p-button
        [loading]="loading"
        [disabled]="!userLoginForm.valid"
        label="Iniciar Sesión"
        (onClick)="submitForm()"
      />
    </form>
  </article>
</main>
