.category-page {
    margin: 0;
    box-sizing: border-box;
    padding-bottom: 30px;
  
    .category-page-header {
      display: flex;
    margin-bottom: 40px;
    align-items: center;
    justify-content: space-between;

      .criteria-left-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
  
        h1 {
          margin: 0;
        }
      }
      .add-button {
        color: var(--green);
        display: flex;
        gap: 6px;
        background-color: transparent;
        border: 1px solid var(--green);
      }
      .button-disabled {
        opacity: 0.5;
        pointer-events: auto;
      }
    }
    .criteria-table-container {
      h3 {
        margin: 0;
        font-weight: 400;
        text-align: center;
        font-size: 16px;
      }
    }
  }
  .tag-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  