<main class="category-page">
    <article>
        <header class="category-page-header">
            <div class="criteria-left-header">
                <h1>Categorías</h1>
                <p-dropdown
          [options]="indicators"
          [(ngModel)]="selectedIndicator"
          optionLabel="englishName"
          placeholder="Indicador"
          (onChange)="onIndicatorChange($event)"
          [style]="{ minWidth: '400px' }"
        ></p-dropdown>
            </div>
            <div class="criteria-right-header">
                <button
                  class="p-button add-button"
                  [disabled]="!indicatorIndex"
                  (click)="showCreate()"
                  [class.button-disabled]="!indicatorIndex"
          [pTooltip]="
            indicatorIndex ? undefined : 'Debe seleccionar un indicador primero'
          "
                >
                  <i class="pi pi-plus-circle" style="font-size: 1.2rem"></i>
                  {{ " Crear" }}
                </button>
              </div>
        </header>

        <section class="criteria-table-container">
            @if (!indicatorIndex) {
            <h3>Seleccione un indicador para ver sus categorías</h3>
            } @else {
            <p-table styleClass="p-datatable-gridlines" [value]="categories">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Indicador</th>
                        <th>Nombre</th>
                        <th>Criterios asociados</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-category>
                    <tr>
                        <td>{{ indicatorIndex }} </td>
                        <td>{{ category.name }}</td>
                        <td>
                            <p-tag
                                *ngFor="let criterion of category.criteria.slice(0, 2)"
                                severity="info"
                                class="mr">
                                {{indicatorIndex}}.{{criterion.subindex}} {{ criterion.spanishAlias }}
                            </p-tag>
                            <span *ngIf="category.criteria.length > 2">+{{ category.criteria.length - 2 }}</span>
                            <div *ngIf="allCriteriaEmpty()">No hay criterios asociados</div>
                        </td>
                        <td>
                            <p-button icon="pi pi-pencil" [outlined]="true" severity="success" (click)="showEdit(category)"/>         
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <p-paginator [first]="first" [rows]="paginationRows" [totalRecords]="totalRecords"
            (onPageChange)="onPageChange($event)" />}
            </section>
            <app-dialog-create [criteria]="criteria" [visible]="visibleCreate" (hideDialog)="hideCreate()" (createCategory)="createCategory($event)"></app-dialog-create>    
            <app-dialog-edit
            [criteria]="criteria"
            [visible]="visibleEdit"
            (hideDialog)="hideEdit()"
            [category]="categoryToEdit"
            (editCategory)="editCategory($event)"
            (deleteCategory)="deleteCategory($event)"
          ></app-dialog-edit>
    </article>
</main>