.category-page {
    margin: 0;
    box-sizing: border-box;
  
    .category-page-header {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
      .category-top-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
  
        h1 {
          margin: 0;
        }
      }
      .add-button {
        align-self: flex-end;
      }
    }
  }
  