<div style="width: 100%; display: flex; flex-direction: row; margin-top: 20px;">
    <div style="width: 20%; display: flex; justify-content: center; align-items: start; padding-top: 20px;">
        <i class="pi pi-thumbs-up" style="font-size: 30px; color: #3ba13f; cursor: pointer; padding: 8px; background-color: rgba(0, 255, 110, 0.208);
        border-radius: 50%;
        box-sizing: border-box"></i>
        <!--
        <img src="../../../../../assets/feedback-icons/icons file-off.svg" [class.selected]="selectedFeedback === 'broken_file'" (click)="selectFeedback('broken_file')" style="width: 48px; height: 48px; cursor: pointer; padding: 5px;" pTooltip="Archivo dañado" 
        tooltipPosition="bottom" />
        <img src="../../../../../assets/feedback-icons/link.svg" [class.selected]="selectedFeedback === 'broken_link'" (click)="selectFeedback('broken_link')" style="width: 48px; height: 48px; cursor: pointer;  padding: 5px;" pTooltip="Link dañado" 
        tooltipPosition="bottom" />
        <i class="pi pi-phone" [class.selected]="selectedFeedback === 'contact_admin'" (click)="selectFeedback('contact_admin')" style="font-size: 30px; color: #3b82f6; cursor: pointer; padding: 8px;" pTooltip="Contactar a administrador" 
        tooltipPosition="bottom" ></i>-->
    </div>
    <div style="width: 80%; display: flex; flex-direction: column;">
        <p style="font-weight: 500; margin-bottom: 0px;">Actividad - </p>
        <p style="margin-top: 0px;">Evidencia con </p>
        <p style="font-weight: 500; margin-top: 0px; color: #3BA13F; margin-bottom: 0px;">Ver actividad </p>
    </div>
</div>
<p-divider type="solid"/>

<!--<div *ngFor="let notification of notifications">
    <p>{{ notification.name }}</p>
</div>-->
