<div class="evidence-card">
  <div>
    <i class="pi pi-image tag"> <span class="tag-text">Imagen</span></i>
  </div>
  <div class="container">
    <div class="container2">
      <img
        src="../../../../../assets/activities/activity-image.png"
        width="155px"
        style="border-radius: 10px"
      />
      <div class="container3">
        <p class="text">Hola.jpg</p>
        <span style="margin-top: -10px">5.59 KB</span>
      </div>
    </div>
    <div class="container2" style="margin-left: 8px; width: 100%;">
      <p style="margin-top: -5px">
        <span class="text">Descripción: </span>{{ evidence.description }}
      </p>
      <p class="text" style="margin-bottom: 0px">Enlace</p>
      <p-inputGroup>
        <input pInputText #inputValue value="{{evidence.link}}" [style]="{ width: '100%'}" disabled/>
        <p-inputGroupAddon>
          <i class="pi pi-copy" (click)="copyValue(inputValue)"></i>
        </p-inputGroupAddon>
      </p-inputGroup>
    </div>
  </div>
  <p-divider />
  <div class="feedback-tags">
    <i class="pi pi-thumbs-up" [class.selected]="selectedFeedback === 'approved'" (click)="selectFeedback('approved')" style="font-size: 30px; color: #3ba13f; cursor: pointer; padding: 8px;"></i>
    <img src="../../../../../assets/feedback-icons/icons file-off.svg" [class.selected]="selectedFeedback === 'broken_file'" (click)="selectFeedback('broken_file')" style="width: 48px; height: 48px; cursor: pointer; padding: 5px;" />
    <img src="../../../../../assets/feedback-icons/link.svg" [class.selected]="selectedFeedback === 'broken_link'" (click)="selectFeedback('broken_link')" style="width: 48px; height: 48px; cursor: pointer;  padding: 5px;" />
    <i class="pi pi-phone" [class.selected]="selectedFeedback === 'contact_admin'" (click)="selectFeedback('contact_admin')" style="font-size: 30px; color: #3b82f6; cursor: pointer; padding: 8px;"></i>
  </div>
</div>
