<div class="evidence-card">
  <div>
    <i class="pi pi-image tag"> <span class="tag-text">Imagen</span></i>
  </div>
  <div class="container">
    <div class="container2">
      <div class="image-container">
        <p-image
  [src]="'http://149.50.140.48' + evidence.link"
  alt="image"
  [preview]="true"
  [imageStyle]="{'object-fit': 'cover', 'max-width': '100%'}"
/>
      </div>
      <div class="container3">
        <span style="margin-top: 10px">{{ (imageSize / 1024) | number:'1.2-2' }} KB</span>
      </div>
    </div>
    <div class="container4" style="margin-left: 8px; width: 100%;">
      <p style="margin-top: -5px">
        <span class="text">Descripción: </span>{{ evidence.description }}
      </p>
      <p class="text" style="margin-bottom: 0px">Enlace</p>
      <p-inputGroup>
        <input pInputText #inputValue value="{{evidence.link}}" [style]="{ width: '100%'}" disabled/>
        <p-inputGroupAddon>
          <i class="pi pi-copy" (click)="copyValue(inputValue)"></i>
        </p-inputGroupAddon>
      </p-inputGroup>
    </div>
  </div>
  <p-divider />
  <div class="feedback-tags">
    <i class="pi pi-thumbs-up" [class.selected]="selectedFeedback === 'approved'" (click)="selectFeedback('approved')" style="font-size: 30px; color: #3ba13f; cursor: pointer; padding: 8px;" pTooltip="Aprobado" 
    tooltipPosition="bottom" ></i>
    <img src="../../../../../assets/feedback-icons/icons file-off.svg" [class.selected]="selectedFeedback === 'broken_file'" (click)="selectFeedback('broken_file')" style="width: 48px; height: 48px; cursor: pointer; padding: 5px;" pTooltip="Archivo dañado" 
    tooltipPosition="bottom" />
    <img src="../../../../../assets/feedback-icons/link.svg" [class.selected]="selectedFeedback === 'broken_link'" (click)="selectFeedback('broken_link')" style="width: 48px; height: 48px; cursor: pointer;  padding: 5px;" pTooltip="Link dañado" 
    tooltipPosition="bottom" />
    <i class="pi pi-phone" [class.selected]="selectedFeedback === 'contact_admin'" (click)="selectFeedback('contact_admin')" style="font-size: 30px; color: #3b82f6; cursor: pointer; padding: 8px;" pTooltip="Contactar a administrador" 
    tooltipPosition="bottom" ></i>
  </div>
</div>
