.indicator-page {
    margin: 0;
    box-sizing: border-box;
  
    .indicator-page-header {
      display: flex;
    margin-bottom: 40px;
    align-items: center;
    justify-content: space-between;
      .indicator-top-header {
        display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
  
        h1 {
          margin: 0;
        }
      }
      .add-button {
        color: var(--green);
      display: flex;
      gap: 6px;
      background-color: transparent;
      border: 1px solid var(--green);
      }
    }
  }
  