<form [formGroup]="imageForm" [@slideInOut]>
  <header>
    <div class="left-header">
      <h5>Tipo:</h5>
      <p-tag
        icon="pi pi-image"
        [rounded]="true"
        styleClass="tag image-evidence-image"
        >Imagen</p-tag
      >
      <p-tag
        icon="pi pi-link"
        [rounded]="true"
        styleClass="tag image-evidence-link"
        >Enlace</p-tag
      >
      <p-tag
        icon="pi pi-file"
        [rounded]="true"
        styleClass="tag image-evidence-document"
        >Documento</p-tag
      >
    </div>
    <p-dialog
      header="Confirmar eliminación"
      [(visible)]="visibleDelete"
      [modal]="true"
      [baseZIndex]="10000"
      [style]="{ color: '#000' }"
    >
      <p>¿Estás seguro de que quieres eliminar esta evidencia?</p>
      <p-footer>
        <p-button
          icon="pi pi-check"
          label="Eliminar"
          severity="danger"
          [outlined]="true"
          (click)="remove()"
          [style]="{ outline: 'none', boxShadow: 'none' }"
        />
        <p-button icon="pi pi-times" label="Cancelar" (click)="hideDelete()" />
      </p-footer>
    </p-dialog>
    <i
      class="pi pi-trash"
      [style]="{ color: '#7E7E7E', cursor: 'pointer' }"
      (click)="showDelete()"
    ></i>
  </header>
  <div class="inputs-container">
    <p-fileUpload
      [multiple]="false"
      accept="image/jpeg, image/png, image/jpg, image/gif, image/bmp"
      [maxFileSize]="limitFileSize"
      invalidFileSizeMessageSummary="Imágen muy pesada"
      invalidFileSizeMessageDetail="Menos de {{
        limitFileSize / 1024 / 1024
      }}MB"
      (onSelect)="onUpload($event)"
      [styleClass]="
        file
          ? 'evidence-input-file hide-header'
          : 'evidence-input-file show-header'
      "
    >
      <ng-template
        pTemplate="header"
        let-files
        let-chooseCallback="chooseCallback"
        let-clearCallback="clearCallback"
        let-uploadCallback="uploadCallback"
        style="display: none"
      >
        <div
          class="flex flex-wrap justify-content-between align-items-center flex-1 gap-2"
        >
          <p-button
            (onClick)="choose($event, chooseCallback)"
            icon="pi pi-images"
            [rounded]="true"
            [outlined]="true"
          />
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        @if (file) {
        <div class="file-template-container">
          <div class="image-container">
            <p-image
              [src]="objectURL ?? ''"
              alt="image"
              [preview]="true"
              [imageStyle]="{ 'object-fit': 'cover', 'max-width': '100%' }"
              styleClass="evidence-image"
            />
          </div>
          <div class="file-info-container">
            <div class="text">
              <p>{{ file.name }}</p>
              <span>{{ formatFileSize(file.size) }}</span>
            </div>
            <i class="pi pi-times-circle" (click)="removeFile()"></i>
          </div>
        </div>
        }
      </ng-template>
      <ng-template pTemplate="file"> </ng-template>
      <ng-template pTemplate="empty">
        @if (!file) { Arrastra la imagen para subirla}
      </ng-template>
    </p-fileUpload>
    <div class="text-inputs-container">
      <textarea
        class="evidence-input"
        rows="4"
        pInputTextarea
        placeholder="Descripción"
        formControlName="description"
        [autoResize]="true"
      ></textarea>
      <input
        type="text"
        pInputText
        formControlName="linkToRelatedResource"
        placeholder="Enlace (opcional)"
        class="evidence-input"
      />
    </div>
  </div>
  @if (evidenceWithFeedback && evidenceWithFeedback.feedbacks.length > 0) {
  <div class="divider"></div>
  <footer>
    <h5>Observaciones:</h5>
    @if (thereAreFeedbackType('broken_file')) {
    <p-tag [rounded]="true" styleClass=" feedback file-feedback"
      ><span>Archivo dañado</span
      ><img src="assets/feedback-icons/icons file-off.svg" alt="icon" />
    </p-tag>
    } @if (thereAreFeedbackType('broken_link')) {
    <p-tag [rounded]="true" styleClass="feedback link-feedback"
      ><span>Enlace dañado</span
      ><img src="assets/feedback-icons/link.svg" alt="icon"
    /></p-tag>
    } @if (thereAreFeedbackType('contact_admin')) {
    <p-tag
      icon="pi pi-phone"
      [rounded]="true"
      styleClass="feedback contact-feedback"
      >Contactar al administrador</p-tag
    >
    } @if (thereAreFeedbackType('approved')) {
    <p-tag
      icon="pi pi-thumbs-up"
      [rounded]="true"
      styleClass="feedback approved-feedback"
      >Evidencia aprobada</p-tag
    >
    }
  </footer>
  }
</form>
