.sidebar{
    width: 80px;
    min-height: 100%;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    background-color: #4E81EE;
    padding-top: 20px;
    align-items: center;
    gap: 10px;
}