<div class="evidence-card">
  <div>
    <i class="pi pi-file tag"> <span class="tag-text">Documento</span></i>
  </div>
  <div class="container">
    <div class="container2">
      <div class="document">
        <i class="pi pi-file" style="font-size: 50px; color: #7e7e7e"></i>
      </div>
      <div class="container3">
        <p class="text">Hola.jpg</p>
        <span style="margin-top: -10px">5.59 KB</span>
      </div>
    </div>
    <div class="container2">
      <p style="margin-top: 5px; margin-left: 8px">
        <span class="text">Descripción: </span>Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Aliquid aut aperiam odit illum. Molestiae
        consequatur quas illum voluptat
      </p>
    </div>
  </div>
  <p-divider />
  <div class="feedback-tags">
    <i class="pi pi-thumbs-up" style="font-size: 30px; color: #3ba13f"></i>
    <img
      src="../../../../../assets/feedback-icons/icons file-off.svg"
      style="width: 32px; height: 32px"
    />
    <i class="pi pi-phone" style="font-size: 30px; color: #3b82f6"></i>
  </div>
</div>
