<section>
  <p-table [value]="[1, 2, 3]" [style]="{ 'max-width': '70vw' }">
    <ng-template pTemplate="header">
      @for (indicator of indicators; track indicator.index) {
      <tr>
        @if ($index === 0) {
        <th [colSpan]="1"></th>
        }
        <th [colSpan]="indicator.categories.length">
          {{ indicator.spanishAlias }}
        </th>
      </tr>
      <tr>
        <th [colSpan]="1">Unidades</th>
        @for (category of indicator.categories; track category.name) {
        <th [colSpan]="1">
          {{ category.name }}
        </th>
        }
      </tr>
      }
    </ng-template>
    <ng-template pTemplate="body"> </ng-template>
  </p-table>
</section>
