::ng-deep .real-matrix th,
::ng-deep .real-matrix td {
  text-align: center;
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
}

::ng-deep .real-matrix tr:first-child th,
::ng-deep .real-matrix tr:first-child td {
  border-top: 1px solid #d0d0d0;
}

::ng-deep .real-matrix th:first-child,
::ng-deep .real-matrix td:first-child {
  border-left: 1px solid #d0d0d0;
}

.recomended-category {
  background-color: #cbe2ff;
}

::ng-deep .evidence-matrix {
  max-width: 95%;
}

::ng-deep .evidence-matrix tr {
  height: 60px;
}
