<section>
  <p-table [value]="[1, 2, 3]" [style]="{'max-width': '70vw'}">
    <ng-template pTemplate="header">
      <tr>
        <th [colSpan]="1"></th>
        <th [colSpan]="2">Indicador 1</th>
        <th [colSpan]="2">Indicador 2</th>
        <th [colSpan]="2">Indicador 3</th>
        <th [colSpan]="2">Indicador 4</th>
      </tr>
      <tr>
        <th [colSpan]="1">Unidades</th>
        <th [colSpan]="1">Categoría 1</th>
        <th [colSpan]="1">Categoría 2</th>
        <th [colSpan]="1">Categoría 2</th>
        <th [colSpan]="1">Categoría 2</th>
        <th [colSpan]="1">Categoría 2</th>
        <th [colSpan]="1">Categoría 2</th>
        <th [colSpan]="1">Categoría 2</th>
        <th [colSpan]="1">Categoría 2</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body">
 
    </ng-template>
  </p-table>
</section>
